<div class="row">
  <div class="col-12 mt-5 text-center">
    <button class="btn btn-primary" (click)="openModalTask()">+ Nova tarefa</button>
  </div>
</div>
<div *ngIf="!tasks || !tasks.length">
  <app-loader [content]="tasks" [noContentText]="'Nenhuma tarefa encontrada.'"></app-loader>
</div>
<div *ngIf="tasks" class="row m-2">
  <div class="col-3 mt-3">
    <strong>Ordenar</strong>
    <select class="form-control form-control-sm">
      <option value="">Data de criação</option>
      <option value="">Prazo - mais próximo</option>
      <option value="">Prazo - mais longe</option>
      <option value="">Prazo - mais longe</option>
      <option value="">Notificação ativa</option>
    </select>
  </div>
  <div class="col-3 mt-3">
    <strong>Modo</strong>
    <select class="form-control form-control-sm" [(ngModel)]="currentMode">
      <option value="modes.Cards">Card</option>
      <option value="modes.List">Lista</option>
    </select>
  </div>
</div>
<div *ngIf="tasks">
  <app-cards-mode [tasks]="tasks"></app-cards-mode>
  <!-- <app-list-mode [tasks]="tasks"></app-list-mode> -->
</div>
